@import "../../../../colors";

.navbar {
    // mobile by default falls back to other colors
    a.navbar-item,
    .navbar-link {
        background-color: $primary;
        color: $primary-invert;

        &:focus,
        &:hover,
        &.is-active {
            background-color: darken($primary, 5%);
            color: $primary-invert;
        }
    }

    .navbar-brand .navbar-item {
        background-color: $secondary;
    }
}

.notification {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}
