.xpath-editor-wrapper,
xpath-editor {
    .ace_editor {
        min-height: 100px;
    }

    %pathMessage {
        background-position: bottom;
        background-repeat: repeat-x;
        position: absolute;
        width: fit-content;
    }

    .pathError {
        @extend %pathMessage;

        background-color: #FFCCCC;
        background-image: url("data:image/gif;base64,R0lGODdhBAADAPEAANv///8AAP///wAAACwAAAAABAADAEACBZQjmIAFADs=");
    }

    .pathWarning {
        @extend %pathMessage;

        background-color: #FFFFAB;
        background-image: url("data:image/gif;base64,R0lGODlhBAADAKEBAP/SAP///////////yH5BAEKAAIALAAAAAAEAAMAAAIEDGKJVgA7");
    }

    .errorMessage {
        color: #d54a4a;
        display: inline-block;
        min-height: 1.5em;
    }
}

// placed outside the component
.ace_editor {
    &.ace_autocomplete {
        width: 400px !important;
    }
}
