<p>
    In the matrix below, you can indicate the relevant parts of the construction, i.e. the lexical items that should be included
    in the query, as well as their level of abstraction. Your selection is visualized by means of the
    <em>query tree</em> at the bottom of this page. The syntactic information provided by the parse in the previous step is automatically
    included.
    <br/> The advanced options offer more possibilities to modify your search instruction. You can also modify the generated
    <em>XPath query</em>, which will be used to do the actual treebank search.
</p>
<h2 class="subtitle">Matrix</h2>
<table class="table" *ngIf="tokens">
    <thead>
        <tr>
            <th>Sentence</th>
            <td *ngFor="let word of tokens">{{word}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let part of parts" [hidden]="part.advanced && !showAdvanced">
            <th>
                {{part.label}}
                <i *ngIf="part.description" class="fa fa-fw fa-info-circle" aria-hidden="true" title="{{part.description}}"></i>
            </th>
            <td *ngFor="let word of tokens">
                <input type="radio">
            </td>
        </tr>
    </tbody>
</table>
<div class="field">
    <label class="checkbox">
        <input type="checkbox" name="advanced" [(ngModel)]="showAdvanced"> Enable advanced options
    </label>
</div>
<div class="columns">
    <div class="column">
        <h2 class="subtitle">XPath</h2>
        <pre>{{xpath}}</pre>
    </div>
    <div class="column">
        <h2 class="subtitle">Additional Search Options</h2>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="order"> Respect word order
                <i class="fa fa-fw fa-info-circle" aria-hidden="true" title="Only search for patterns that have the same word order as your input example"></i>
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="ct" value="on"> Include context in results
                <i class="fa fa-fw fa-info-circle" aria-hidden="true" title="In the results, show the sentence before and after the matching sentence to provide a broader context"></i>
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="topcat"> Ignore properties of the dominating node
                <i class="fa fa-fw fa-info-circle" aria-hidden="true" title="Search for more general patterns by ignoring the properties of the top node, e.g. search for both main clauses and subclauses"></i>
            </label>
        </div>
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="sentids" checked> Include sentence IDs in downloadable results
                <i class="fa fa-fw fa-info-circle" aria-hidden="true" title="Add sentence identifiers to downloads. A sentence identifier is a unique identifier given to each sentence in a corpus. Given an identifier you can look up the sentence in the original corpus"></i>
            </label>
        </div>
    </div>
</div>
<h2 class="subtitle">Tree</h2>
<pre>TODO: show the tree here</pre>
