.xpath {
    // they can be nested quite deeply
    overflow: auto;
}

.sentence-matrix {
    // loooong sentence
    overflow: auto;

    .table {
        margin-bottom: 1.5rem;

        th {
            white-space: nowrap;
        }
    }
}

// allow clicking the disabled radio buttons for notification
input[disabled] {
    pointer-events: none
}
