body {
  font-family: "Roboto", Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  min-width: 960px;
  color: #565656;
  background: #f5f5f5;
}

ul {
  line-height: 1.6;
  list-style-position: outside;
  padding-left: 20px;
}

p {
  line-height: 1.75;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}

h2 {
  margin: 0 auto 24px;
  font-size: 24px;
  font-weight: bold;
}

header {
  background: #73C78C;
}
header h1 {
  font-size: 42px;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 12px 0;
  text-align: center;
  color: white;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
}
header h1 sup {
  font-family: "Roboto", Helvetica, Verdana, Arial, sans-serif;
  font-size: 12px;
  top: -27px;
  left: -48px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#output {
  width: 960px;
  margin: 0 auto;
}
