<cite>
  <a href="http://gretel.ccl.kuleuven.be/docs/Augustinus2012-ebq-LREC.pdf"
     title="Download Example-Based Treebank Querying" target="_blank">
                    <span class="stack">
                      <i class="fas fa-download"></i>
                    </span>
    <span class="sr-only">Download Example-Based Treebank Querying</span>
  </a>
  <p>Liesbeth Augustinus, Vincent Vandeghinste, and Frank Van Eynde (2012). <a
    href="http://gretel.ccl.kuleuven.be/docs/Augustinus2012-ebq-LREC.pdf"
    title="Download Example-Based Treebank Querying" target="_blank"><strong>"Example-Based Treebank
    Querying"</strong></a>. In: <em>Proceedings of the 8th International Conference on Language Resources and
    Evaluation (LREC-2012)</em>. Istanbul, Turkey. pp. 3161-3167.</p>
</cite>
