.tscache
*.log
*~
tmp/*
log/*
ng/
.DS_Store

prepros.cfg
prepros-6.config
config.php
sitemap.xml
robots.txt

# Sass
*.css.map
.sass-cache/

# NPM
node_modules/

.idea

# Grunt output
style/css/**
js/min/**
js/ts/**

vendor
!lassy-xpath/.gitignore

__pycache__/
