Django>=4.0.0
djangorestframework>=3.13.0
alpino-query>=2.1.9
django-cors-headers>=3.13.0
BaseXClient
corpus2alpino>=0.3.10
celery[redis]>=5.2.0
-e git+https://github.com/UUDigitalHumanitieslab/mwe-query@bug/expand-cycle#egg=mwe-query
