<h2 class="subtitle">
    <div class="level">
        <div class="level-item level-left">
            Components
        </div>
        <div class="level-item level-right is-hidden-print">
            <div class="field">
                <p class="control">
                    <a class="button" grtBalloonPosition="left" grtBalloon="Download distribution list (.csv)" [ngClass]="{'is-loading': loading}" (click)="download()">
                        <span class="icon is-large">
                            <i class="fas fa-download"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</h2>
<table class="table is-fullwidth" *ngIf="counts">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hits</th>
            <th>All Sentences</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let count of counts">
            <th>
                <label class="checkbox">
                    <input type="checkbox" [checked]="count.selected" (change)="toggleComponent(count)" /> {{count.component}}
                </label>
            </th>
            <td>{{count.hits}}</td>
            <td>{{count.sentences}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                <label class="checkbox">
                    <input type="checkbox" [checked]="totalSelected" (change)="toggleAllComponents()" /> Total
                </label>
            </th>
            <td>{{totalHits}}</td>
            <td>{{totalSentences}}</td>
        </tr>
    </tfoot>
</table>
