<grt-body-header>Multi Word Expressions</grt-body-header>
<grt-breadcrumb-bar [crumbs]="crumbs" [currentCrumb]="globalState?.currentStep?.number" (jump)="goToStep($event)"></grt-breadcrumb-bar>
<div [ngSwitch]="globalState?.currentStep?.number" [ngClass]="{'is-loading':isTransitioning}">
    <grt-sentence-collection
        *ngSwitchCase="0"
        title="Canonical form expressions"
        [sentences]="(canonicalForms | async) ?? []"
        (onUpdateFilter)="updateFilter($event)"
        (onSelect)="startWithExpression($event)"
    >
    </grt-sentence-collection>

    <div *ngSwitchCase="1">
      <p>Chosen expression: <em>{{ globalState.canonicalForm }}</em></p>
      <p>Please choose one of the following queries:</p>
      <grt-query-set
          [queryset]="globalState.querySet"
          (onSelect)="proceedWithQuery($event)"
      ></grt-query-set>
    </div>

    <grt-select-treebanks
        *ngSwitchCase="2"

        (changeValid)="setValid($event)"
        (prev)="prev()"
        (next)="next()">
    </grt-select-treebanks>

    <grt-results
        *ngSwitchCase="3"

        [filterValues]="globalState.filterValues"
        [inputSentence]="globalState.inputSentence"
        [retrieveContext]="globalState.retrieveContext"
        [xpath]="globalState.xpath"

        (changeValid)="setValid($event)"
        (changeXpath)="updateXPath($event, 'history')"
        (changeRetrieveContext)="updateRetrieveContext($event)"
        (changeFilterValues)="updateFilterValues($event)"
        (prev)="prev()"
        (next)="next()">
    </grt-results>
</div>
<br />
<div *ngIf="warning" class="notification is-danger warning">{{warning}}</div>
