<grt-body-header>Multi Word Expressions</grt-body-header>
<grt-breadcrumb-bar [crumbs]="crumbs" [currentCrumb]="globalState?.currentStep?.number" (jump)="goToStep($event)"></grt-breadcrumb-bar>
<div [ngSwitch]="globalState?.currentStep?.number" [ngClass]="{'is-loading':isTransitioning}">
    <grt-sentence-collection
        *ngSwitchCase="0"
        title="Canonical form expressions"
        [sentences]="(canonicalForms | async) ?? []"
        (onUpdateFilter)="updateFilter($event)"
        (onSelect)="startWithExpression($event)"
    >
    </grt-sentence-collection>

    <div *ngSwitchCase="1">
      <p>Chosen expression: <em>{{ globalState.canonicalForm.text }}</em></p>
      <p>Please choose one of the following queries:</p>
      <grt-query-set
          [queryset]="globalState.querySet"
          (onSelect)="proceedWithQuery($event)"
      ></grt-query-set>
    </div>

    <grt-select-treebanks
        *ngSwitchCase="2"

        (changeValid)="setValid($event)"
        (prev)="prev()"
        (next)="next()">
    </grt-select-treebanks>

    <div *ngSwitchCase="3">
        <grt-mwe-results
            *ngSwitchCase="3"

            [canonicalForm]="globalState.canonicalForm.text"
            [currentQuery]="globalState.currentQuery"
            [querySet]="globalState.querySet"
            (changeQuery)="changeQuery($event)"


            [filterValues]="globalState.filterValues"
            [inputSentence]="globalState.inputSentence"
            [retrieveContext]="globalState.retrieveContext"
            [xpath]="globalState.xpath ?? false"
            [canSaveQuery]="globalState.canonicalForm.id ?? false"

            (changeValid)="setValid($event)"
            (changeXpath)="updateXPath($event, 'history')"
            (saveQuery)="saveQuery()"
            (changeRetrieveContext)="updateRetrieveContext($event)"
            (changeFilterValues)="updateFilterValues($event)"
            (prev)="prev()"
            (next)="next()">
        </grt-mwe-results>
    </div>

    <grt-analysis
        *ngSwitchCase="4"

        [xpath]="globalState.xpath"

        (changeValid)="setValid($event)"
        (filterResults)="filterResults($event, 2)">
    </grt-analysis>
</div>
<br />
<div *ngIf="warning" class="notification is-danger warning">{{warning}}</div>
