@import '../../../../colors';

.btn-wrapper {
    button:not(:first-child) {
        margin-left: 10px;
    }
}

.explanation {
    position: sticky;
    top: 0;
    z-index: 10;
}

:host ::ng-deep {

    .pvtUi,
    .pvtTriangle {
        // work-around from https://github.com/nicolaskruchten/pivottable/issues/865#issuecomment-361775178
        position: relative;
    }

    .pvtVal:hover {
        background: $link;
        color: white;
        cursor: pointer;
        transition: color ease 0.2s, background-color ease 0.2s;
    }

    .xpath {

        // style the xpath display to mark the draggable nodes
        .node-name {
            background: rgba($primary, 0);
            transition: background-color ease 1s;
        }

        .p-draggable {
            background: $primary;
            color: white !important;
        }

        .p-draggable:hover {
            cursor: move;
            opacity: 0.8;
        }
    }
}

.analysis-box {
    opacity: 0;
    transition: opacity 0.3s;
    overflow: auto;

    &.box {
        opacity: 1;
    }
}

.analysis-component {
    overflow: visible;
    transition: opacity 0.5s;

    &.disabled {
        opacity: 0.5;
    }
}

.query.disabled,
.analysis-component.disabled {
    pointer-events: none;

}

.modal-content {
    // make sure the variable dropdown can be used
    overflow: visible;
}
