<div class="navbar-item has-dropdown" [ngClass]="{ 'is-active': showLogin }">
  <a class="navbar-link is-arrowless" (click)="showLogin=!showLogin">
    Login
  </a>

  <form class="navbar-dropdown is-right" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="navbar-item">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="Email" required formControlName="email">
        </div>
      </div>
    </div>
    <div class="navbar-item">
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="Password" required formControlName="password">
        </div>
      </div>
    </div>
    <div class="navbar-item">
      <div class="field">
        <div class="control">
          <button class="button" type="submit" [ngClass]="{'is-loading':loggingIn, 'is-primary':!loggingIn, 'is-danger':error}">
            Login
          </button>
        </div>
        <p class="help is-danger" *ngIf="error">Check your input</p>
      </div>
    </div>
  </form>
</div>