<ng-container *ngIf="filter">
    <label>
        <input type="checkbox" (change)="onCheckBoxClicked($event)" #checkbox> {{filter.field}}
    </label>
    <div class="columns">
        <div class="column is-half">
            <label class="label">Start Date</label>
            <mat-form-field>

                <input matInput [min]="filter.minValue" [max]="maxValue" [disabled]="!checkbox.checked" [matDatepicker]="picker1" placeholder="Choose a date"
                    [(ngModel)]="minValue" (ngModelChange)="updateFilterChange(checkbox.checked)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="!checkbox.checked" #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="column is-half">
            <label class="label">End Date</label>
            <mat-form-field>
                <input matInput [min]="minValue" [max]="filter.maxValue" [disabled]="!checkbox.checked" [matDatepicker]="picker2" placeholder="Choose a date"
                    [(ngModel)]="maxValue" (ngModelChange)="updateFilterChange(checkbox.checked)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="!checkbox.checked" #picker2></mat-datepicker>
            </mat-form-field>
            <!-- <input type="date" class="input is-info" [disabled]="!checkbox.checked" [value]="max_value" (change)="keepValidmax($event)"> -->
        </div>
    </div>
</ng-container>
