<div class="notification is-primary">
    <p>Drag a node from the <strong>XPath query</strong> or the <strong>tree</strong> into the analysis table below to analyse its properties.</p>
</div>
<div class="columns">
    <div class="column">
        <h2 class="subtitle">XPath</h2>
        <div class="content">
            <grt-xpath-viewer [value]="xpath" [variables]="variables"></grt-xpath-viewer>
        </div>
    </div>
    <div class="column" *ngIf="treeXml">
        <h2 class="subtitle">
            <div class="level">
                <div class="level-item level-left">
                    Tree
                </div>
                <div class="level-item level-right is-hidden-print">
                    <p class="control">
                        <a class="button" role="button" (click)="treeDisplay = 'both'" grBalloonPosition="left" grBalloon="Full screen display of the tree.">
                            <span class="icon is-large">
                                <i class="fas fa-expand"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </h2>
        <grt-tree-visualizer [xml]="treeXml" [display]="treeDisplay" [fullScreenButton]="false" (onDisplayChange)="treeDisplay = $event"></grt-tree-visualizer>
    </div>
</div>
<div class="modal is-active" *ngIf="selectedVariable">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="content">
                Which property of
                <span class="tag">{{selectedVariable.variable.name}}</span> should be analyzed?
            </div>
            <grt-xpath-viewer [value]="selectedVariable.variable.path"></grt-xpath-viewer>
            <br />
            <div class="field">
                <ng-select [(ngModel)]="selectedVariable.attribute" required="true">
                    <ng-option *ngFor="let attribute of attributes" [value]="attribute.value">{{attribute.label}}</ng-option>
                </ng-select>
            </div>
            <div class="buttons is-right">
                <div class="button" role="button" (click)="cancelVariable()">
                    Cancel
                </div>
                <div class="button is-primary" role="button" (click)="addVariable()">
                    Add
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="cancelVariable()"></button>
</div>
<h1 class="title">Analysis Table</h1>
<div class="analysis-component box" [ngClass]="{'is-loading': isLoading}"></div>
