@import '../../../colors';

.btn-wrapper {
    button:not(:first-child) {
        margin-left: 10px;
    }
}

.is-loading {
    min-height: 100px;
}

:host ::ng-deep {

    .pvtUi,
    .pvtTriangle {
        // work-around from https://github.com/nicolaskruchten/pivottable/issues/865#issuecomment-361775178
        position: relative;
    }

    .pvtVal:hover {
        background: $link;
        color: white;
        cursor: pointer;
        transition: color ease 0.2s, background-color ease 0.2s;
    }

    .xpath {
        // style the xpath display to mark the draggable nodes
        .node-name {
            background: rgba($primary, 0);
            transition: background-color ease 1s;
        }

        .ui-draggable {
            background: $primary;
            color: white !important;
        }

        .ui-draggable:hover {
            cursor: move;
            opacity: 0.8;
        }
    }
}

.analysis-component {
    overflow: auto;
}

.modal-content {
    // make sure the variable dropdown can be used
    overflow: visible;
}
