<grt-body-header>Example Based Search</grt-body-header>
<grt-breadcrumb-bar [crumbs]="crumbs" [currentCrumb]="this.globalState.currentStep.number"></grt-breadcrumb-bar>
<div [ngSwitch]="this.globalState.currentStep.number">
    <grt-sentence-input *ngSwitchCase="0" (onChangeValid)="setValid($event)" #sentenceInput></grt-sentence-input>
</div>
<br />
<div class="buttons is-right is-hidden-print">
    <button class="button" *ngIf="this.globalState.currentStep.number !=0 " (click)="prev()">Previous</button>
    <button class="button is-primary" (click)="next()">Next</button>
</div>
