<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>
                <label class="checkbox">
                    <input type="checkbox" title="Select all" [checked]="allComponentsSelected()" (change)="toggleAllComponents()"> Component
                </label>
            </th>
            <th *ngIf="showDescription">
                Description
            </th>
            <th class="has-text-right">
                Sentences
            </th>
            <th class="has-text-right">
                Words
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let component of components"
            (click)="toggleComponent(component.id)">
            <td>
                <label class="checkbox">
                    <input
                        type="checkbox"
                        [checked]="component.selected"
                        (change)="toggleComponent(component.id)"> {{component.title}}
                </label>
            </td>
            <td *ngIf="showDescription">
                {{component.description}}
            </td>
            <td class="is-number">
                {{formatIfNumber(component.sentenceCount)}}
            </td>
            <td class="is-number">
                {{formatIfNumber(component.wordCount)}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td *ngIf="showDescription"></td>
            <td class="is-number">{{totalSentenceCount}}</td>
            <td class="is-number">{{totalWordCount}}</td>
        </tr>
    </tfoot>
</table>
