<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th [attr.colspan]="variants.length">
                <label class="checkbox" *ngIf="!treebank.multiOption">
                    <input
                        type="checkbox"
                        title="Select all"

                        [checked]="isEveryComponentSelected(undefined)"
                        (change)="toggleVariant(undefined)"
                    >
                    Component
                </label>
                <span *ngIf="treebank.multiOption">Component</span>
            </th>
            <th *ngIf="showDescription">
                Description
            </th>
            <ng-container *ngFor="let variant of variants">
                <th class="has-text-right">
                    Sentences
                </th>
                <th class="has-text-right" *ngIf="showWordCount">
                    Words
                </th>
            </ng-container>
            <ng-container *ngIf="variants.length > 1">
                <!-- for the total -->
                <th class="has-text-right">
                    Sentences
                </th>
                <th class="has-text-right">
                    Words
                </th>
            </ng-container>
        </tr>
        <tr *ngIf="variants.length > 1">
            <th *ngFor="let variant of variants">
                <label
                    class="checkbox"
                    [attr.disabled]="!treebank.multiOption || null"
                >
                    <input
                        type="checkbox"
                        [checked]="isEveryComponentSelected(variant)"
                        [disabled]="!treebank.multiOption || null"
                        (change)="toggleVariant(variant)"
                    >
                    {{variant}}
                </label>
            </th>
            <th *ngIf="showDescription">
                &nbsp;
            </th>
            <th *ngFor="let variant of variants" colspan="2" class="has-text-centered">
                {{variant}}
            </th>
            <th colspan="2" class="has-text-centered">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of componentGroups" (click)="toggleGroup(group)">
            <td *ngFor="let variant of variants">
                <label *ngIf="treebank.multiOption" class="checkbox" [attr.disabled]="group.components[variant].disabled || null" (click)="$event.stopPropagation()">
                    <input
                        type="checkbox"
                        [disabled]="group.components[variant].disabled"
                        [checked]="group.components[variant].selected"

                        (change)="toggleComponent(group.components[variant])"
                    >
                    {{group.components[variant].title}}
                </label>
                <label *ngIf="!treebank.multiOption" [attr.disabled]="group.components[variant].disabled || null" (click)="$event.stopPropagation()">
                    <input
                        type="radio"
                        [disabled]="group.components[variant].disabled"
                        [checked]="group.components[variant].selected"

                        (change)="toggleComponent(group.components[variant])"
                    >
                    {{group.components[variant].title}}
                </label>
            </td>
            <td *ngIf="showDescription">
                {{group.description}}
            </td>
            <ng-container *ngFor="let variant of variants">
                <td class="is-number">
                    {{group.components[variant].sentenceCount}}
                </td>
                <td class="is-number" *ngIf="showWordCount">
                    {{group.components[variant].wordCount}}
                </td>
            </ng-container>
            <ng-container *ngIf="variants.length > 1">
                <th class="is-number">
                    {{totalSentenceCountByGroup[group.key]}}
                </th>
                <th class="is-number" *ngIf="showWordCount">
                    {{totalWordCountByGroup[group.key]}}
                </th>
            </ng-container>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td [attr.colspan]="variants.length + (showDescription ? 1 : 0)">
                &nbsp;
            </td>
            <ng-container *ngFor="let variant of variants">
                <td class="is-number">{{totalSentenceCountByVariant[variant]}}</td>
                <td class="is-number" *ngIf="showWordCount">{{totalWordCountByVariant[variant]}}</td>
            </ng-container>
            <ng-container *ngIf="variants.length > 1">
                <th class="is-number">{{totalSentenceCount}}</th>
                <th class="is-number" *ngIf="showWordCount">{{totalWordCount}}</th>
            </ng-container>
        </tr>
    </tfoot>
</table>
