<ul class="fa-ul">

    <li>
        <span class="fa-li">
            <i class="fas fa-address-book"></i>
        </span>
        <address>
            Utrecht University
            <br> Drift 10, room 3.07
            <br> 3512 BS Utrecht
            <br> Netherlands
            <br>
        </address>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-link"></i>
        </span>
        <a href="https://dig.hum.uu.nl" grBalloonPosition="right" grBalloon="Digital Humanities Lab homepage" target="_blank">Digital Humanities Lab</a>
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-phone"></i>
        </span>
        +31 30 253 7867
    </li>
    <li>
        <span class="fa-li">
            <i class="fas fa-envelope"></i>
        </span>
        <a href="mailto:s.j.j.spoel@uu.nl" grBalloonPosition="right" grBalloon="Email us">s.j.j.spoel@uu.nl</a>

    </li>
</ul>
