html, body {
  margin: 0;
  padding: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}



template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  &:active, &:hover {outline-width: 0;}
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
    margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  vertical-align: middle;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

button, input, textarea {
    &:focus {
        outline: 0 none;
    }
}

input:not([type="button"]):not([type="reset"]):not([type="submit"]), textarea {
  padding: 6px 8px;
  border: 1px solid #C0C0C0;
  background: white;
  border-radius: 4px;
  &:focus, &:active {
    border-color: darken(#C0C0C0, 12%);
  }
  &:invalid {
      box-shadow: none;
  }
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background: #C0C0C0;
  box-shadow: inset 0 -1px rgba(0,0,0,.24);
  border: 0 none;
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  border: 0 none;
  &:not([disabled]):not(.disabled):hover {
    background: darken(#C0C0C0, 12%);
    text-shadow: 0 1px rgba(0,0,0,0.12);
  }
  &:active {
    box-shadow:  none;
    transform: translateY(1px);
  }
}

label, input[type="checkbox"], input[type="radio"], button {
  cursor: pointer;
  &[disabled], &.disabled {
      cursor: not-allowed;
      pointer-events: none;
  }
}
label.disabled, button[disabled] {
  color: lighten(#565656, 25%);
}
