@import "tv-variables";
%button {
    background: #C0C0C0;
    color: white;
    border: 1px solid #C0C0C0;
    padding: 6px 8px;
    &:hover {
      background: darken(#C0C0C0, 12%);
    }
    &:active {
        background: darken(#C0C0C0, 16%);
    }
    &[disabled] {
        border-bottom-color: lighten(#C0C0C0, 12%);
        cursor: not-allowed;
    }
}
