@import '../css/min/pivot.min.css';
analysis {
    display: block;
    max-width: 100%;
    overflow: auto;

    .btn-wrapper {
        button:not(:first-child) {
            margin-left: 10px;
        }     
    }   
}
