@import "normalize";
@import "clearfix";
@import "variables";
%fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    background: #7E6748;
    color: white;
}
input[type='text'],
textarea {
    &::selection {
        background: #B2D241;
    }
}
blockquote {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 4px solid #968A7A;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 576px;
    min-height: 100vh;
    background-color: #D6E69D;
    color: $textmain;
    font-family: $fontbody;
    line-height: 1.625;
    align-items: center;
    &::before {
        position: fixed;
        top: 36px;
        left: 50%;
        z-index: -1;
        display: block;
        margin-left: -695px;
        width: 374px;
        height: 450px;
        content: url("../../img/logo-image-gretel.svg");
    }
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    td,
    th {
        padding: 2px 12px;
        border: 1px solid #DCDCDC;
    }
    tfoot td,
    th {
        border-color: darken(#DAD1C7, 10%);
        background: #DAD1C7;
        text-align: left;
        white-space: nowrap;
        font-weight: bold;
        &[colspan="2"] {
            text-align: center;
        }
    }
    tr {
        &.advanced {
            td,
            th {
                border-color: #F7F7F7;
                background: #F7F7F7;
            }
        }
    }
    label {
        white-space: nowrap;
    }
}
h1,
h2,
h3,
h4 {
    font-family: $fontheadings;
}
h1 {
    letter-spacing: -1px;
    font-size: 1.67em;
    span {
        letter-spacing: 0;
    }
}
h2 {
    font-size: 1.34em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}
a {
    border-bottom: 1px dotted;
    color: $gretelgreen;
    text-decoration: none;
    &:hover {
        border-bottom: 0 none;
        color: darken($gretelgreen, 12%);
    }
}
dl {
    counter-reset: dt;
}
dt {
    margin-bottom: 1em;
    font-weight: bold;
    &::before {
        content: counter(dt) ". ";
        counter-increment: dt;
    }
}
dd {
    position: relative;
    margin-bottom: 1.67em;
    margin-left: 1em;
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 3px solid #BFA58A;
    text-align: justify;
    font-size: 14px;
    p:last-child {margin-bottom: 0;}
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1em;
        height: 3px;
        background: #BFA58A;
        content: "";
    }
}
.filter-wrapper {
    position: absolute;
    bottom: -1em;
    display: none;
    margin-right: 0 !important;
    margin-left: -56px !important;
    padding: 0.8em;
    max-width: 220px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,.3), 0 0 12px rgba(0,0,0,.12);
    transform: translateY(100%) translateX(-50%);
    flex-wrap: wrap;
    justify-content: space-between;
    &::before {
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -11px;
        width: 0;
        height: 0;
        border: 12px solid;
        border-color: transparent transparent white white;
        box-shadow: -4px 4px 6px -2px rgba(0,0,0,0.08);
        content: "";
        transform: rotate(135deg);
        transform-origin: center center;
    }
    label {
        display: block;
        margin: 2px;
    }
    @keyframes check-comps-fadeout {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    [for='all-components'] {
        position: absolute;
        top: -4px;
        left: -4px;
        margin: 0;
        width: 36px;
        height: 36px;
        border: 1px solid #c0c0c0;
        border-radius: 50%;
        background: #c0c0c0;
        color: #969696;
        text-align: center;
        line-height: 36px;
        transform: translate(-50%, -50%);
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            color: #9FB72F;
            font-size: 24px;
            opacity: 0;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
        &.active {
            border-color: #9FB72F;
            background: #EEF7CF;
            color: #9FB72F;
            i {
                animation: check-comps-fadeout 2.25s forwards;
            }
        }
    }
}
.page-header {
    position: relative;
    display: flex;
    margin: 0 auto 0.34em;
    padding-bottom: 0.89em;
    border-bottom: 1px dotted #968A7A;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
        white-space: nowrap;
        font-size: 2em;
        flex: 1;
    }
    h2 {
        position: absolute;
        bottom: 0;
        left: 24px;
        margin: 0;
        font-weight: 300;
        font-size: smaller;
        font-family: $fontbody;
    }
}
.primary-navigation {
    flex: 1;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-around;
        li {
            text-align: center;
            flex: 1;
            &:not(:last-child) {
                margin-right: 1.34em;
            }
            a {
                position: relative;
                display: block;
                padding: 2px 4px;
                border-bottom: 0 none;
                color: $textmain;
                white-space: nowrap;
                font-weight: 300;
                font-size: 16px;
                transition: transform 200ms;
                will-change: transform;
                &.active,
                &:hover {
                    color: darken($textmain, 12%);
                    transform: scale(1.125);
                    &::after {
                        width: 67%;
                    }
                }
                &::after {
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    display: block;
                    width: 0;
                    border-bottom: 1px solid #565656;
                    content: "";
                    transition: width 200ms;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &.small {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
        ul {
            position: absolute;
            right: 0;
            display: none;
            flex-direction: column;
            border: 1px solid #DDD;
            background-color: #F0F0F0;
            li {
                margin-right: 0 !important;
                text-align: right;
                a {
                    padding: 0.67em 1.34em;
                    border-bottom: 1px solid #DDD;
                    border-left: 4px solid transparent;
                    font-size: 18px;
                    &.active,
                    &:hover {
                        border-left-color: #DDD;
                        background: #F5F5F5;
                        transform: scale(1);
                    }
                    &::after {
                        display: none;
                    }
                }
                &:last-child a {
                    border-bottom: 0 none;
                }
            }
        }
        button {
            width: 40px;
            align-self: flex-end;
            i {
                transition: transform 200ms;
            }
        }
        &.active {
            ul {
                display: flex;
            }
            button i {
                transform: rotate(180deg);
            }
        }
    }
}
#container,
.page-footer .content {
    padding: 1.6em;
    min-width: 576px;
    max-width: 1024px;
    width: 100%;
    background: #fff;
    flex: 1;
}
/* Progress bar */
.secondary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .progressbar {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 12px;
        li {
            display: inline-block;
            padding: 0;
            background: #C0C0C0;
            &.done {
                background-color: darken(#C0C0C0, 12%);
            }
            &.active,
            &:not(.no-hover):hover {
                background-color: #B6D54B;
            }
            &.no-hover {
                cursor: default;
                pointer-events: none;
                &:not(.active) a {
                    color: rgba(white, 0.74);
                }
            }
            a {
                position: relative;
                z-index: 0;
                display: block;
                margin: 0;
                padding: 0.8em;
                border: 0 none;
                color: white;
                text-decoration: none;
            }
        }
    }
}
/* Circular - small circles on small screen size */
@media all and (max-width: 1239px) {
    .secondary-navigation .progressbar {
        font-size: 14px;
        li {
            border-radius: 50%;
            &:not(:last-child) {
                margin-right: 8px;
            }
            a {
                padding: 0;
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 32px;
            }
            span {
                display: none;
            }
        }
    }
}
/* Breacrumbs - arrow directed progress bar on large screens */
@media all and (min-width: 1240px) {
    .progressbar {
        li {
            &:not(:first-child) {
                padding-left: 10px;
            }
            &:not(:last-child) {
                /* Arrows for breadcrumbs; not on last child */
                a {
                    padding-right: 10px;
                    &::after,
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 100%;
                        z-index: 1;
                        display: block;
                        margin-top: -50px;
                        width: 0;
                        height: 0;
                        border-top: 50px solid transparent;
                        border-bottom: 50px solid transparent;
                        border-left: 30px solid white;
                        content: " ";
                        transform: translateX(-67%);
                    }
                    &::after {
                        z-index: 2;
                        margin-left: -1px;
                        border-left-color: #C0C0C0;
                    }
                }
            }
            &:last-child {
                padding-right: 5px;
            }
            span {
                position: relative;
                z-index: 3;
            }
            &.active:not(:last-child) a::after,
            &:not(:last-child):not(.no-hover):hover a::after {
                border-left-color: #B6D54B;
            }
            &.done:not(:last-child) a::after {
                border-left-color: darken(#C0C0C0, 12%);
            }
        }
    }
}
#tree-output {
    position: relative;
    z-index: 2;
    min-height: 180px;
    opacity: 0;
    transition: opacity 600ms;
    &.active {
        opacity: 1;
    }
}
/* loading image */
@keyframes load-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading-wrapper {
    z-index: 11;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,0.34);
        .loading {
            width: 360px;
            height: 360px;
            border-width: 18px;
            border-color: #F7F7F7;
            background: rgba(255, 255, 255, 0.67) url("../../img/logo-image-gretel.svg") no-repeat;
            background-position: bottom center;
            background-size: 74%;
            &::after {
                top: -18px;
                right: -18px;
                bottom: -18px;
                left: -18px;
                border-width: 18px;
            }
        }
    }
    .loading {
        z-index: 100;
        display: flex;
        flex-direction: column;
        width: 36px;
        height: 36px;
        border: 6px solid #F5F5F5;
        border-radius: 50%;
        background: white;
        transition: transform 400ms;
        transform: scale(0);
        align-items: center;
        justify-content: center;
        will-change: transform;
        &::after {
            position: absolute;
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
            border: 6px solid transparent;
            border-top-color: #D6E69D;
            border-radius: 50%;
            content: '';
            will-change: transform;
        }
        p {
            text-align: center;
            font-weight: 700;
        }
        button {
            position: relative;
            z-index: 20;
        }
    }
    &.active {
        visibility: visible;
        height: 100%;
        pointer-events: all;
        .loading {
            transform: scale(1);
            &::after {
                animation: load-rotate 2.4s linear infinite;
            }
        }
    }
    &.searching {
        z-index: 10;
        display: none;
        &.active {
            display: flex;
        }
    }
}
#tree-output {
    .loading-wrapper {
        position: static;
        &.active {
            padding: 18px;
            background: #F7F7F7;
        }
    }
}
.table-wrapper {
    overflow: auto;
    max-width: 100%;
}
.messages {
    visibility: hidden;
    height: 0;
    text-align: center;
    pointer-events: none;
    &.active {
        visibility: visible;
        margin: 24px auto;
        height: 100%;
        pointer-events: all;
        > div.active {
            transform: scale(1);
        }
    }
    > div {
        display: inline-block;
        padding: 0.8em;
        min-width: 80%;
        transition: transform 250ms;
        transform: scale(0);
        will-change: transform;
        p {
            margin: 0;
            padding: 0;
        }
    }
    .error {
        border: 1px solid #DF6B5F;
        background-color: #FBDDD4;
    }
    .notice {
        border: 1px solid #B2D241;
        background-color: #EEF7CF;
    }
}
/* ============= */
/* PAGE SPECIFIC */
/* ============= */
/* DOCUMENTATION */
.docs {
    .flex-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
            padding: 0.67em;
            min-width: 240px;
            flex: 1;
        }
    }
    @keyframes docs-target-arrow {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(150%);
        }
    }
    dt:target {
        &::after {
            margin-left: 5px;
            content: "\f104";
            animation: docs-target-arrow 600ms alternate infinite;
            @extend %fa;
        }
    }
}
/* EBS, XPS */
.ebs {
    @keyframes reset-btn-rotate {
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }
    &.step-1 {
        .input-wrapper {
            display: flex;
            align-items: flex-start;
            button {
                width: 40px;
                height: 40px;
                text-align: center;
            }

            input[type="text"] {
                padding-right: 44px;
                width: 420px;
                height: 40px;
                &.no-content {
                    + button {
                        i {
                            animation: reset-btn-rotate 300ms;
                        }
                    }
                }
            }
        }
    }
    &.step-3 {
        thead td {
            background: #F0F0F0;
        }
    }
    &.step-5 {
        textarea[name="xp"] {
            margin-right: 16px;
            min-width: 320px;
            min-height: 100px;
            width: 50%;
            color: inherit;
            vertical-align: top;
            font-family: monospace;
            resize: vertical;
        }
    }
}
.results-wrapper {
    table {
        width: 100%;
        table-layout: fixed;
        tbody:not(.empty),
        thead {
            td,
            th {
                &:first-child {
                    width: 60px;
                }
                &:nth-child(2) {
                    width: 200px;
                }
                &:nth-child(3) {
                    width: 110px;
                }
                &:last-child {
                    min-width: 300px;
                    width: calc(100% - 370px);
                }
            }
        }
    }
    .empty {
        display: none;
        tr {
            background-color: #F7F7F7;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            td {
                padding: 0.5em;
            }
        }
    }
    tr {
        transition: background-color 1000ms;
        will-change: background-color;
        &:nth-child(even) {
            background-color: #F7F7F7;
        }
        &.added {
            background-color: #F2F9DD;
        }
    }
}
[for="filter-components"] {
    i {
        transition: transform 150ms;
        transform-origin: center center;
    }
    &.active {
        i {
            transform: rotate(180deg);
        }
        + .filter-wrapper {
            display: flex;
        }
    }
}
#go-to {
    width: 48px;
}
.dummy-controls {
    position: relative;
    display: none;
    margin: auto auto 1.67em;
    &::after,
    &::before {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 8px;
        background-image: linear-gradient(to right, transparent 0%, transparent 50%, #EEE 50%, #EEE 100%);
        background-size: 40px 100%;
        content: "";
    }
    &::after {
        top: 0;
        bottom: auto;
    }
    .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        &::after,
        &::before {
            position: absolute;
            left: 0;
            width: 8px;
            height: 100%;
            background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #EEE 50%, #EEE 100%);
            background-size: 100% 40px;
            content: "";
        }
        &::after {
            right: 0;
            left: auto;
        }
    }
}
.ebs.step-6,
.xps.step-3 {
    .controls {
        position: relative;
        display: flex;
        margin: auto auto 1.67em;
        padding: 0.67em 26px;
        max-width: 1024px;
        width: 100%;
        background: #eee;
        font-size: 12px;
        align-items: center;
        justify-content: flex-end;
        &.scroll {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        > *:not(:last-child) {
            margin-right: 1.34em;
        }
        .count {
            margin-right: auto;
            > span {
                white-space: nowrap;
            }
        }
        [name="to-top"] {
            width: 37px;
        }
    }
    @keyframes download-arrow {
        0% {
            transform: translateY(0);
        }
        49% {
            transform: translateY(250%);
        }
        50% {
            opacity: 1%;
        }
        51% {
            opacity: 0;
            transform: translateY(-250%);
        }
        100% {
            opacity: 100%;
            transform: translateY(0);
        }
    }
    .download-link {
        display: inline-block;
        margin: 12px auto 4px;
        padding: 12px;
        border: 0 none;
        background: #96846C;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        i {
            margin-right: 4px;
        }
        &:hover {
            background: #7E6748;
            text-shadow: 0 2px 0 rgba(0,0,0,0.3);
            i {
                animation: download-arrow 500ms forwards;
            }
        }
    }
}
.xps {
    &.step-1 {
        .input-wrapper {
            display: flex;
            align-items: flex-start;
            button {
                margin-left: 12px;
                width: 40px;
                height: 40px;
                text-align: center;
            }
            textarea {
                min-width: 560px;
                min-height: 100px;
                font-family: monospace;
            }

            button:active {
                i {
                    animation: reset-btn-rotate 300ms;
                }
            }
        }
    }
}
.ebs,
.xps {
    .progress-header {
        display: flex;
        margin-top: 1em;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;
        h1 {
            margin: 0;
            span {
                font-weight: 300;
                font-size: 16px;
                font-family: $fontbody;
            }
        }
    }
    .label-wrapper {
        margin: 4px auto;
    }
    .continue-btn-wrapper {
        display: flex;
        margin-top: 1em;
        button {
            &:not([type="submit"]) {
                margin-right: auto;
            }
            &[type="submit"] {
                margin-left: auto;
            }
        }
    }
}
.page-footer {
    margin-top: 24px;
    width: 100%;
    background: #7E6748;
    flex: 0;
    .content {
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 12px 48px;
        background: transparent;
        color: white;
        font-size: smaller;
        justify-content: space-between;
        a {
            color: white;
        }
    }
    address,
    nav {
        ul {
            padding-left: 26px;
            list-style: none;
            li {
                position: relative;
                &::before {
                    position: absolute;
                    left: -12px;
                    line-height: 1.625;
                    transform: translateX(-100%);
                    @extend %fa;
                }
            }
        }
    }
    address {
        font-style: normal;
        .address {
            margin-bottom: 6px;
            &::before {
                content: "\f041";
            }
        }
        .web::before {
            content: "\f0c1";
        }
        .tel::before {
            content: "\f095";
        }
        .fax::before {
            content: "\f1ac";
        }
    }
    nav ul {
        margin-bottom: 18px;
        li::before {
            content: "\f054";
        }
    }
    .github-link {
        display: block;
        padding: 6px 8px;
        border: 2px solid white;
        text-align: center;
        > {
            :first-child {
                margin-right: 6px;
            }
            * {
                vertical-align: middle;
            }
        }
        &:hover {
            background: white;
            color: #7E6748;
        }
    }
    .other {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        min-width: 100px;
        justify-content: space-between;
        align-items: center;
        [class^="logo-link"] {
            display: block;
            border: 0 none;
            box-shadow: none;
        }
        [name='to-top'] {
            width: 40px;
            height: 40px;
            border: 0 none;
            background: #655745;
            color: white;
            &:active,
            &:hover {
                border: 0 none;
                background: darken(#655745, 8%);
            }
        }
        .logo-wrapper {
            position: relative;
            bottom: -12px;
            svg {
                overflow: visible !important;
                width: 107px;
                height: 128px;
            }
            circle {
                transform: scale(1.125);
                transform-origin: center center;
                stroke: white;
                stroke-width: 8px;
            }
            path {
                fill: #655745;
            }
        }
    }
}
