%fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.tv {
    box-sizing: border-box;
    color: #565656;
    text-align: center;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button {
        outline: 0;
        cursor: pointer;
    }

    .tv-error {
        margin-top: 24px;
        padding: 8px 16px;
        background: #DF5F5F;
        color: white;
        text-align: center;
        text-shadow: 0 1px rgba(0,0,0,0.32);
        line-height: 1.75;
        display: inline-block;

        p {
            margin: 0;
        }
    }

    .tv-tree {
        overflow: auto;
        display: flex;
        box-sizing: content-box;
        border-radius: 4px;

        + .tv-tooltip {
            position: fixed;
            top: -100%;
            left: 0;
            z-index: 11;
            padding: 10px;
            border: 5px solid white;
            background: darken(#F5F5F5, 2%);
            box-shadow: 0 2px 8px rgba(0,0,0,0.4);
            text-align: left;
            border-radius: 5px;
            > ul {
                padding: 0 8px;
                list-style: none;
                columns: 2;
                column-gap: 24px;
                column-rule: 1px solid #ccc;

                li {
                    white-space: nowrap;
                }
            }

            &::after {
                position: absolute;
                bottom: -24px;
                left: 50%;
                margin-left: -24px;
                width: 0;
                height: 0;
                border: 12px solid;
                border-color: transparent transparent white white;
                box-shadow: -6px 6px 6px -2px rgba(0,0,0,0.2);
                content: "";
                transform: rotate(-45deg);
                transform-origin: 0 0;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 30px;
                border: 0;
                border-radius: 50%;
                background: #DF5F5F;
                color: white;
                text-align: center;
                font-size: 14px;
                line-height: 1;
                transition: transform 200ms;
                transform: translate(50%, -50%);

                &:hover {
                    background: darken(#DF5F5F, 4%);
                    transform: translate(50%, -50%) scale(1.23);
                }

                &:active {
                    background: darken(#DF5F5F, 8%);
                }
            }
        }

        ol {
            position: relative;
            display: table;
            padding-top: 1em;

            ol::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 1em;
                border-left: 1px solid #ccc;
                content: "";
            }
        }

        > ol {
            padding-top: 0;
            /* Center inside flexbox */
            margin: auto;
        }

        li {
            position: relative;
            display: table-cell;
            padding: 1em 0.5em 0;
            list-style-type: none;
            vertical-align: top;
            text-align: center;

            &::after,
            &::before {
                position: absolute;
                top: 0;
                right: 50%;
                width: 50%;
                height: 1em;
                border-top: 1px solid #ccc;
                content: "";
            }

            &::after {
                right: auto;
                left: 50%;
                border-left: 1px solid #ccc;
            }

            &.first-child {
                &::before {
                    border: 0 none;
                }
            }

            &.last-child {
                &::before {
                    border-right: 1px solid #ccc;
                }

                &::after {
                    border: 0 none;
                }
            }

            &.only-child {
                padding-top: 0;

                &::after,
                &::before {
                    display: none;
                }
            }

            &.highlight {
                a,
                a.only-child {
                    background: #C7BDB1;
                    color: white;
                    border-color: transparent;

                    &.hovered,
                    &:hover {
                        background: #9C8A73;
                        color: white;

                        span:nth-child(2) {
                            color: darken(#565656, 10%);
                        }
                    }
                }
            }

            &.excluded {
              &::after,
              &::before {
                  border-top: 1px dotted red;
              }

              &::after {
                  border-left: 1px dotted red;
              }

              &.first-child {
                  &::before {
                      border: 0 none;
                  }
              }

              &.last-child {
                  &::before {
                      border-right: 1px dotted red;
                  }

                  &::after {
                      border: 0 none;
                  }
              }

                a {
                    span {
                        opacity: 0.36;
                    }

                    &::before {
                        content: "NOT";
                        position: absolute;
                        top: 0;
                        text-align: center;
                        width: 100%;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%) scale(1);
                        color: #cd2b2b;
                        font-size: 120%;
                        transition: transform 200ms;
                    }
                    &:hover {
                      span {opacity: 1;}
                      &::before {
                        transform: translateY(-50%) scale(0);
                        pointer-events: none;
                      }
                    }
                    &.hovered {
                      background-color: rgba(142, 127, 107, 0.36);
                    }
                }
            }

            a {
                display: inline-block;
                padding: 0.5em 1em;
                border-radius: 4em;
                background: white;
                color: #565656;
                text-decoration: none;
                border: 1px solid #ccc;
                position: relative;
                z-index: 2;

                span:nth-child(2) {
                    color: #565656;
                    font-weight: normal;
                }

                &.hovered,
                &:hover {
                    background: #ccc;

                    + ol li a {
                        background: #ccc;
                    }

                    + ol li.highlight a,
                    + ol li.highlight a.only-child {
                        background: #9C8A73;
                        color: white;
                    }

                    + ol li a span:nth-child(2),
                    span:nth-child(2) {
                        color: white;
                    }
                }

                &.hovered {
                    background: #8E7F6B;
                    color: #FFF !important;
                    border-color: rgba(0, 0, 0, 0);
                }

                &.hovered + ol li.highlight a span:nth-child(2),
                &:hover + ol li.highlight a span:nth-child(2) {
                    color: darken(#565656, 10%);
                }

                &.hovered + ol li a.only-child,
                &:hover + ol li a.only-child {
                    background: #ccc;
                    color: white;
                }

                &.hovered + ol li.highlight a.only-child,
                &:hover + ol li.highlight a.only-child {
                    background: #9C8A73;
                    color: white;
                }

                &.hovered + ol,
                &:hover + ol {
                    &::before,
                    li::after,
                    li::before,
                    ol::before {
                        border-color: #ddd;
                    }
                }

                &.only-child {
                    color: #9C8A73;
                    font-weight: bold;
                    &:hover {
                      span:first-child {
                          color: #565656;
                      }
                    }
                }
                &.cs ~ .word em {
                  cursor: help;
                  &::before {
                    content: "\f031";
                    @extend %fa;
                    margin-right: 0.36em;
                    color: #222;
                  }
                }
                &.ignored {
                  cursor: help;
                  opacity: 0.67;
                  + ol::before {border-left: 1px dotted #ccc;}
                }
            }

            span {
                display: block;
                margin: 2px auto;
            }
        }
    }
}

#tree-visualizer {
    position: relative;

    .tv-tree {
        padding: 24px;
        min-height: 240px;
        background: #F7F7F7;
        font-size: 12px;

        + .tv-tooltip {
            z-index: 9;
        }
    }

    .tv-show-fs {
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        text-align: center;
    }
}

#tree-visualizer-fs {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .tv-sentence {
        background: darken(#F5F5F5, 5%);
        border-bottom: 1px solid #ccc;
        padding: 12px;
        line-height: 1.6;
        width: 100vw;
    }

    .tv-tree {
        position: relative;
        z-index: 11;
        min-width: 480px;
        min-height: 180px;
        background: #F5F5F5;
        transition: width 200ms, height 200ms;
        will-change: width, height;
        overflow: scroll;

        &.small {

            a {
                transition: transform 150ms;
                will-change: transform;

                &.hovered,
                &:hover {
                    transform: scale(2);
                    z-index: 3;
                    background: #8e7f6b;
                    color: #FFF!important;
                    border-color: transparent !important;
                }

                &.only-child {
                    transition: transform 150ms, margin-bottom 200ms;
                    ~ span {
                        transition: transform 150ms, margin-top 200ms;
                    }

                    &.hovered,
                    &:hover {
                        margin-bottom: 2em;

                        ~ span {
                            transform: scale(2);
                            margin-top: 1.5em;
                            z-index: 3;
                        }
                    }
                }
            }
        }

        &.x-small {
            a {
                &.hovered,
                &:hover {
                    transform: scale(3);
                }

                &.only-child {
                    &.hovered,
                    &:hover {
                        margin-bottom: 5em;

                        ~ span {
                            transform: scale(3);
                            margin-top: 3em;
                        }
                    }
                }
            }
        }
    }

    .tv-zoom-wrapper {
        position: absolute;
        top: 12px;
        right: 30px;
        z-index: 9;
        display: flex;
        align-items: center;

        a {
            font-weight: bold;
            color: white;
            margin-right: 16px;
        }
    }

    .tv-zoom-opts {
        padding: 12px;
        background: #F5F5F5;
        border-radius: 4px;
        @extend %clearfix;

        &:hover {
            z-index: 12;
            box-shadow: 0 2px 4px rgba(0,0,0,.3);
        }

        button {
            position: relative;
            float: left;
            margin-right: 1px;
            padding: 0;
            width: 36px;
            height: 36px;

            &.tv-close-fs {
                margin-right: 0;
                margin-left: 12px;
                width: 34px;
                height: 34px;
                border: 2px solid #DF5F5F;
                border-radius: 50%;
                background: transparent;
                color: #DF5F5F;
                text-shadow: none;
                line-height: 1;
                transition: transform 200ms;

                &:hover {
                    background: #DF5F5F;
                    color: white;
                    transform: scale(1.23);
                }

                &:active {
                    top: auto;
                    border: 2px solid darken(#DF5F5F, 8%);
                    background: darken(#DF5F5F, 8%);
                }
            }

            &.tv-zoom-out {
                border-radius: 4px 0 0 4px;
            }

            &.tv-zoom-in {
                border-radius: 0 4px 4px 0;
            }

            &.tv-zoom-default {
                padding: 0 8px;
                width: auto;
                border-radius: 0;
            }
        }
    }
}
body {
    &.tv-fs-open {
        overflow-y: hidden;
        #tree-visualizer-fs {display: flex;}
    }
}
