$green_main: #73C78C;
$white_smoke : #f5f5f5;
$tree_branch : #cccccc;
$gray_main : #565656;
$error : #df5f5f;

$Roboto: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
