<grt-body-header>XPath Search</grt-body-header>
<grt-breadcrumb-bar [crumbs]="crumbs" [currentCrumb]="this.globalState.currentStep.number"></grt-breadcrumb-bar>
<div [ngSwitch]="this.globalState.currentStep.number">
    <grt-xpath-input *ngSwitchCase="0" (onChangeValid)="setValid($event)" (onChangeValue)="updateXPath($event)" [value]="this.globalState.xpath"
        #xpathInput></grt-xpath-input>
    <grt-select-treebanks *ngSwitchCase="1" (onChangeValid)="setValid($event)" (onUpdateSelected)="updateSelected($event)" #selectTreebanksComponentRef></grt-select-treebanks>
    <grt-results *ngSwitchCase="2" [corpus]="this.globalState.selectedTreebanks.corpus" [components]="this.globalState.selectedTreebanks.components"
        [xpath]="this.globalState.xpath" (onChangeValid)="setValid($event)" #resultsComponentRef></grt-results>
    <grt-analysis *ngSwitchCase="3" [corpus]="this.globalState.selectedTreebanks.corpus" [components]="this.globalState.selectedTreebanks.components"
        [xpath]="this.globalState.xpath" (onChangeValid)="setValid($event)"></grt-analysis>
</div>
<br />
<div class="buttons is-right is-hidden-print">
    <button class="button" *ngIf="this.globalState.currentStep.number !=0 " (click)="prev()">Previous</button>
    <button class="button is-primary" *ngIf="this.globalState.currentStep.number !=3 " (click)="next()">Next</button>
</div>
