<grt-body-header>XPath Search</grt-body-header>
<ng-container *ngIf="globalState.currentStep">
    <grt-breadcrumb-bar [crumbs]="crumbs" [currentCrumb]="globalState.currentStep.number"></grt-breadcrumb-bar>
    <div [ngSwitch]="globalState.currentStep.number" [ngClass]="{'is-loading':isTransitioning}">
        <grt-xpath-input
            *ngSwitchCase="0"

            [retrieveContext]="globalState.retrieveContext"
            [value]="globalState.xpath"

            (changeValid)="setValid($event)"
            (changeValue)="updateXPath($event, false)"
            (changeRetrieveContext)="updateRetrieveContext($event)"

            #xpathInput>
        </grt-xpath-input>
        <grt-select-treebanks
            *ngSwitchCase="1"

            (changeValid)="setValid($event)"

            #selectTreebanksComponentRef>
        </grt-select-treebanks>
        <grt-results
            *ngSwitchCase="2"

            [retrieveContext]="globalState.retrieveContext"
            [xpath]="globalState.xpath"

            (changeValid)="setValid($event)"
            (changeXpath)="updateXPath($event)"
            (changeRetrieveContext)="updateRetrieveContext($event, true)"
            (prev)="prev()"
            (next)="next()"

            #resultsComponentRef>
        </grt-results>
        <grt-analysis
            *ngSwitchCase="3"

            [xpath]="globalState.xpath"

            (changeValid)="setValid($event)">
        </grt-analysis>
    </div>
    <br />
    <div *ngIf="warning" class="notification is-danger">{{warning}}</div>
    <grt-step-buttons (prev)="prev()" (next)="next()" [currentStep]="globalState.currentStep" [steps]="steps"></grt-step-buttons>
</ng-container>
