.tip
{
cursor:help;
}
#tooltiplayout {
position:absolute;
border:solid 1px grey /* #4B7A98 */;
color: grey /* #4B7A98 */;
padding: 3px;
visibility:hidden;
z-index: 100;
font-family:verdana;
font-size:12px;
background-color:#eeeeee /*D5EBF9*/;
opacity:0.85;
}