/**
 * (S)CSS file for the Tree Visualizer. You can change the colours of the
 * tree in _tv-variables.scss.
 *
 * @author Bram Vanroy
 */
.tree-visualizer .tv-show-fs, .tree-visualizer-fs .zoom-opts button {
  background: #C0C0C0;
  color: white;
  border: 1px solid #C0C0C0;
  padding: 6px 8px;
}
.tree-visualizer .tv-show-fs:hover, .tree-visualizer-fs .zoom-opts button:hover {
  background: #a1a1a1;
}
.tree-visualizer .tv-show-fs:active, .tree-visualizer-fs .zoom-opts button:active {
  background: #979797;
}
.tree-visualizer [disabled].tv-show-fs, .tree-visualizer-fs .zoom-opts button[disabled] {
  border-bottom-color: #dfdfdf;
  cursor: not-allowed;
}

.tree-visualizer-fs .zoom-opts:after {
  content: "";
  display: table;
  clear: both;
}

.tree-visualizer,
.tree-visualizer-fs {
  box-sizing: border-box;
  color: #565656;
  text-align: center;
}
.tree-visualizer *,
.tree-visualizer-fs * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.tree-visualizer button,
.tree-visualizer-fs button {
  outline: 0;
  cursor: pointer;
}
.tree-visualizer .tv-error,
.tree-visualizer-fs .tv-error {
  margin-top: 24px;
  padding: 8px 16px;
  background: #DF5F5F;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.32);
  line-height: 1.75;
  display: inline-block;
}
.tree-visualizer .tv-error p,
.tree-visualizer-fs .tv-error p {
  margin: 0;
}
.tree-visualizer .tree,
.tree-visualizer-fs .tree {
  overflow: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
}
.tree-visualizer .tree + .tooltip,
.tree-visualizer-fs .tree + .tooltip {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 11;
  padding: 12px;
  border: 6px solid white;
  background: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  text-align: left;
}
.tree-visualizer .tree + .tooltip > ul,
.tree-visualizer-fs .tree + .tooltip > ul {
  padding: 0 8px;
  list-style: none;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -webkit-column-rule: 1px solid #CCC;
     -moz-column-rule: 1px solid #CCC;
          column-rule: 1px solid #CCC;
}
.tree-visualizer .tree + .tooltip > ul li,
.tree-visualizer-fs .tree + .tooltip > ul li {
  white-space: nowrap;
}
.tree-visualizer .tree + .tooltip:after,
.tree-visualizer-fs .tree + .tooltip:after {
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -24px;
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent white white;
  box-shadow: -6px 6px 6px -2px rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.tree-visualizer .tree + .tooltip button,
.tree-visualizer-fs .tree + .tooltip button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #DF5F5F;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.tree-visualizer .tree + .tooltip button:hover,
.tree-visualizer-fs .tree + .tooltip button:hover {
  background: #dc4e4e;
  -webkit-transform: translate(50%, -50%) scale(1.23);
      -ms-transform: translate(50%, -50%) scale(1.23);
          transform: translate(50%, -50%) scale(1.23);
}
.tree-visualizer .tree + .tooltip button:active,
.tree-visualizer-fs .tree + .tooltip button:active {
  background: #d83d3d;
}
.tree-visualizer .tree ol,
.tree-visualizer-fs .tree ol {
  position: relative;
  display: table;
  padding-top: 1em;
}
.tree-visualizer .tree ol ol:before,
.tree-visualizer-fs .tree ol ol:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1em;
  border-left: 1px solid #CCC;
  content: "";
}
.tree-visualizer .tree > ol,
.tree-visualizer-fs .tree > ol {
  padding-top: 0;
  /* Center inside flexbox */
  margin: auto;
}
.tree-visualizer .tree li,
.tree-visualizer-fs .tree li {
  position: relative;
  display: table-cell;
  padding: 1em 0.5em 0;
  list-style-type: none;
  vertical-align: top;
  text-align: center;
}
.tree-visualizer .tree li:after, .tree-visualizer .tree li:before,
.tree-visualizer-fs .tree li:after,
.tree-visualizer-fs .tree li:before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 1em;
  border-top: 1px solid #CCC;
  content: "";
}
.tree-visualizer .tree li:after,
.tree-visualizer-fs .tree li:after {
  right: auto;
  left: 50%;
  border-left: 1px solid #CCC;
}
.tree-visualizer .tree li.first-child:before,
.tree-visualizer-fs .tree li.first-child:before {
  border: 0 none;
}
.tree-visualizer .tree li.last-child:before,
.tree-visualizer-fs .tree li.last-child:before {
  border-right: 1px solid #CCC;
}
.tree-visualizer .tree li.last-child:after,
.tree-visualizer-fs .tree li.last-child:after {
  border: 0 none;
}
.tree-visualizer .tree li.only-child,
.tree-visualizer-fs .tree li.only-child {
  padding-top: 0;
}
.tree-visualizer .tree li.only-child:after, .tree-visualizer .tree li.only-child:before,
.tree-visualizer-fs .tree li.only-child:after,
.tree-visualizer-fs .tree li.only-child:before {
  display: none;
}
.tree-visualizer .tree li.highlight a, .tree-visualizer .tree li.highlight a.only-child,
.tree-visualizer-fs .tree li.highlight a,
.tree-visualizer-fs .tree li.highlight a.only-child {
  border-color: #CCC;
  background: #CCC;
  color: white;
  text-shadow: none;
}
.tree-visualizer .tree li.highlight a:hover, .tree-visualizer .tree li.highlight a.only-child:hover,
.tree-visualizer-fs .tree li.highlight a:hover,
.tree-visualizer-fs .tree li.highlight a.only-child:hover {
  border-color: #b3b3b3;
  background: #b3b3b3;
  color: #3d3d3d;
}
.tree-visualizer .tree li.highlight a:hover.hovered span:nth-child(2), .tree-visualizer .tree li.highlight a:hover:hover span:nth-child(2), .tree-visualizer .tree li.highlight a.only-child:hover.hovered span:nth-child(2), .tree-visualizer .tree li.highlight a.only-child:hover:hover span:nth-child(2),
.tree-visualizer-fs .tree li.highlight a:hover.hovered span:nth-child(2),
.tree-visualizer-fs .tree li.highlight a:hover:hover span:nth-child(2),
.tree-visualizer-fs .tree li.highlight a.only-child:hover.hovered span:nth-child(2),
.tree-visualizer-fs .tree li.highlight a.only-child:hover:hover span:nth-child(2) {
  color: #3d3d3d;
}
.tree-visualizer .tree li a,
.tree-visualizer-fs .tree li a {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #CCC;
  border-bottom: 2px solid #e0e0e0;
  border-radius: 4em;
  background: white;
  color: #565656;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
.tree-visualizer .tree li a:hover,
.tree-visualizer-fs .tree li a:hover {
  font-weight: normal;
}
.tree-visualizer .tree li a span:nth-child(2),
.tree-visualizer-fs .tree li a span:nth-child(2) {
  color: #565656;
  font-weight: normal;
}
.tree-visualizer .tree li a.hovered, .tree-visualizer .tree li a:hover, .tree-visualizer .tree li a:hover + ol li a,
.tree-visualizer-fs .tree li a.hovered,
.tree-visualizer-fs .tree li a:hover,
.tree-visualizer-fs .tree li a:hover + ol li a {
  border: 1px solid #A4C52E;
  border-bottom-width: 2px;
  background: #A4C52E;
  color: white;
}
.tree-visualizer .tree li a:hover + ol li.highlight a, .tree-visualizer .tree li a:hover + ol li.highlight a.only-child,
.tree-visualizer-fs .tree li a:hover + ol li.highlight a,
.tree-visualizer-fs .tree li a:hover + ol li.highlight a.only-child {
  border-color: #b3b3b3;
  background: #b3b3b3;
  color: #3d3d3d;
  text-shadow: none;
}
.tree-visualizer .tree li a.hovered span:nth-child(2), .tree-visualizer .tree li a:hover + ol li a span:nth-child(2), .tree-visualizer .tree li a:hover span:nth-child(2),
.tree-visualizer-fs .tree li a.hovered span:nth-child(2),
.tree-visualizer-fs .tree li a:hover + ol li a span:nth-child(2),
.tree-visualizer-fs .tree li a:hover span:nth-child(2) {
  color: white;
}
.tree-visualizer .tree li a:hover + ol li.highlight a span:nth-child(2),
.tree-visualizer-fs .tree li a:hover + ol li.highlight a span:nth-child(2) {
  color: #3d3d3d;
}
.tree-visualizer .tree li a:hover + ol li a.only-child,
.tree-visualizer-fs .tree li a:hover + ol li a.only-child {
  border: 1px solid #708720;
  border-bottom-width: 2px;
  background: #708720;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.tree-visualizer .tree li a:hover + ol li.highlight a.only-child,
.tree-visualizer-fs .tree li a:hover + ol li.highlight a.only-child {
  border-color: #bfbfbf;
  background: #bfbfbf;
  text-shadow: none;
}
.tree-visualizer .tree li a:hover + ol:before,
.tree-visualizer .tree li a:hover + ol li:after,
.tree-visualizer .tree li a:hover + ol li:before,
.tree-visualizer .tree li a:hover + ol ol:before,
.tree-visualizer-fs .tree li a:hover + ol:before,
.tree-visualizer-fs .tree li a:hover + ol li:after,
.tree-visualizer-fs .tree li a:hover + ol li:before,
.tree-visualizer-fs .tree li a:hover + ol ol:before {
  border-color: #b9d650;
}
.tree-visualizer .tree li a.only-child,
.tree-visualizer-fs .tree li a.only-child {
  color: #A4C52E;
  font-weight: bold;
}
.tree-visualizer .tree li a.only-child.hovered, .tree-visualizer .tree li a.only-child:hover,
.tree-visualizer-fs .tree li a.only-child.hovered,
.tree-visualizer-fs .tree li a.only-child:hover {
  border: 1px solid #7b9322;
  border-bottom-width: 2px;
  background: #7b9322;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tree-visualizer .tree li span,
.tree-visualizer-fs .tree li span {
  display: block;
  margin: 2px auto;
}

.tree-visualizer .tree {
  margin: 24px auto;
  padding: 24px;
  min-height: 240px;
  border: 6px solid white;
  background: #f0f0f0;
  font-size: 12px;
}
.tree-visualizer .tree + .tooltip {
  z-index: 9;
}
.tree-visualizer .tv-show-fs {
  display: block;
  margin: 24px auto;
}

.tree-visualizer-fs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 72px 48px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tree-visualizer-fs .sentence {
  background: #e8e8e8;
  border-bottom: 1px solid #CCC;
  padding: 12px;
  line-height: 1.6;
  width: 100vw;
}
.tree-visualizer-fs .tree {
  position: relative;
  z-index: 11;
  padding: 12px;
  min-width: 480px;
  min-height: 180px;
  background: #F5F5F5;
}
.tree-visualizer-fs .tree.small {
  overflow-y: scroll;
}
.tree-visualizer-fs .tree.small a {
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  will-change: transform;
}
.tree-visualizer-fs .tree.small a:hover, .tree-visualizer-fs .tree.small a.hovered {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  z-index: 3;
  border-color: transparent !important;
}
.tree-visualizer-fs .tree.small a.only-child ~ span {
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}
.tree-visualizer-fs .tree.small a.only-child:hover, .tree-visualizer-fs .tree.small a.only-child.hovered {
  margin-bottom: 2em;
}
.tree-visualizer-fs .tree.small a.only-child:hover ~ span, .tree-visualizer-fs .tree.small a.only-child.hovered ~ span {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  margin-top: 1.5em;
  z-index: 3;
}
.tree-visualizer-fs .tree.x-small a:hover, .tree-visualizer-fs .tree.x-small a.hovered {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.tree-visualizer-fs .tree.x-small a.only-child:hover, .tree-visualizer-fs .tree.x-small a.only-child.hovered {
  margin-bottom: 5em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.tree-visualizer-fs .tree.x-small a.only-child:hover ~ span, .tree-visualizer-fs .tree.x-small a.only-child.hovered ~ span {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
  margin-top: 3em;
}
.tree-visualizer-fs .zoom-opts {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 9;
  padding: 12px;
  background: #F5F5F5;
  opacity: 0.8;
  transition: opacity 200ms;
  will-change: opacity;
}
.tree-visualizer-fs .zoom-opts:hover {
  z-index: 12;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.tree-visualizer-fs .zoom-opts button {
  position: relative;
  float: left;
  margin-right: 1px;
  padding: 0;
  width: 36px;
  height: 36px;
}
.tree-visualizer-fs .zoom-opts button.close {
  margin-right: 0;
  margin-left: 12px;
  width: 34px;
  height: 34px;
  border: 2px solid #DF5F5F;
  border-radius: 50%;
  background: transparent;
  color: #DF5F5F;
  text-shadow: none;
  line-height: 1;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
.tree-visualizer-fs .zoom-opts button.close:hover {
  background: #DF5F5F;
  color: white;
  -webkit-transform: scale(1.23);
      -ms-transform: scale(1.23);
          transform: scale(1.23);
}
.tree-visualizer-fs .zoom-opts button.close:active {
  top: auto;
  border: 2px solid #d83d3d;
  background: #d83d3d;
}
.tree-visualizer-fs .zoom-opts button.zoom-default {
  padding: 0 8px;
  width: auto;
  border-radius: 0;
}
