.tv .tv-tree li a.cs ~ .word em::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tv {
  box-sizing: border-box;
  color: #565656;
  text-align: center;
}

.tv * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tv button {
  outline: 0;
  cursor: pointer;
}

.tv .tv-error {
  display: none;
  padding: 8px 16px;
  background: #DF5F5F;
  color: white;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.32);
  line-height: 1.75;
}

.tv .tv-error p {
  margin: 0;
}

.tv .tv-content-wrapper {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  font-size: 12px;
}

.tv .tv-toolbar-wrapper {
  background: #f0f0f0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
}

.tv .tv-sentence-wrapper {
  display: none;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  margin-right: 24px;
  border-bottom: 3px solid #ddd;
  font-size: 14px;
  /* Hackish way to perfectly align sentence and icon */
}

.tv .tv-sentence-wrapper.has-sentence {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tv .tv-sentence-wrapper i::after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tv .tv-sentence-wrapper i {
  font-size: 148%;
  color: #ddd;
  margin-right: 0.48em;
}

.tv .tv-tree {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.tv .tv-tree ol {
  position: relative;
  display: table;
  padding-top: 1em;
}

.tv .tv-tree ol ol::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1em;
  border-left: 1px solid #ccc;
  content: "";
}

.tv .tv-tree > ol {
  margin: auto;
  padding: 6em 1.26em 1.26em 1.26em;
}

.tv .tv-tree li {
  position: relative;
  display: table-cell;
  padding: 1em 0.5em 0;
  list-style-type: none;
  vertical-align: top;
  text-align: center;
}

.tv .tv-tree li::after, .tv .tv-tree li::before {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 1em;
  border-top: 1px solid #ccc;
  content: "";
}

.tv .tv-tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tv .tv-tree li.first-child::before {
  border: 0 none;
}

.tv .tv-tree li.last-child::before {
  border-right: 1px solid #ccc;
}

.tv .tv-tree li.last-child::after {
  border: 0 none;
}

.tv .tv-tree li.only-child {
  padding-top: 0;
}

.tv .tv-tree li.only-child::after, .tv .tv-tree li.only-child::before {
  display: none;
}

.tv .tv-tree li.highlight a,
.tv .tv-tree li.highlight a.only-child {
  border-color: transparent;
  background: #C7BDB1;
  color: white;
}

.tv .tv-tree li.highlight a.hovered, .tv .tv-tree li.highlight a:hover,
.tv .tv-tree li.highlight a.only-child.hovered,
.tv .tv-tree li.highlight a.only-child:hover {
  background: #9C8A73;
  color: white;
}

.tv .tv-tree li.highlight a.hovered span:nth-child(2), .tv .tv-tree li.highlight a:hover span:nth-child(2),
.tv .tv-tree li.highlight a.only-child.hovered span:nth-child(2),
.tv .tv-tree li.highlight a.only-child:hover span:nth-child(2) {
  color: #3d3d3d;
}

.tv .tv-tree li.excluded::after, .tv .tv-tree li.excluded::before {
  border-top: 1px dotted red;
}

.tv .tv-tree li.excluded::after {
  border-left: 1px dotted red;
}

.tv .tv-tree li.excluded.first-child::before {
  border: 0 none;
}

.tv .tv-tree li.excluded.last-child::before {
  border-right: 1px dotted red;
}

.tv .tv-tree li.excluded.last-child::after {
  border: 0 none;
}

.tv .tv-tree li.excluded a span {
  opacity: 0.36;
}

.tv .tv-tree li.excluded a::before {
  position: absolute;
  top: 0;
  top: 50%;
  left: 0;
  width: 100%;
  color: #cd2b2b;
  content: "NOT";
  text-align: center;
  font-size: 120%;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.tv .tv-tree li.excluded a:hover span {
  opacity: 1;
}

.tv .tv-tree li.excluded a:hover::before {
  -webkit-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  pointer-events: none;
}

.tv .tv-tree li.excluded a.hovered {
  background-color: rgba(142, 127, 107, 0.36);
}

.tv .tv-tree li a {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 4em;
  background: white;
  color: #565656;
  text-decoration: none;
}

.tv .tv-tree li a span:nth-child(2) {
  color: #565656;
  font-weight: normal;
}

.tv .tv-tree li a.hovered, .tv .tv-tree li a:hover {
  background: #ccc;
}

.tv .tv-tree li a.hovered + ol li a, .tv .tv-tree li a:hover + ol li a {
  background: #ccc;
}

.tv .tv-tree li a.hovered + ol li.highlight a,
.tv .tv-tree li a.hovered + ol li.highlight a.only-child, .tv .tv-tree li a:hover + ol li.highlight a,
.tv .tv-tree li a:hover + ol li.highlight a.only-child {
  background: #9C8A73;
  color: white;
}

.tv .tv-tree li a.hovered + ol li a span:nth-child(2),
.tv .tv-tree li a.hovered span:nth-child(2), .tv .tv-tree li a:hover + ol li a span:nth-child(2),
.tv .tv-tree li a:hover span:nth-child(2) {
  color: white;
}

.tv .tv-tree li a.hovered {
  border-color: transparent;
  background: #8E7F6B;
  color: #FFF !important;
}

.tv .tv-tree li a.hovered + ol li.highlight a span:nth-child(2),
.tv .tv-tree li a:hover + ol li.highlight a span:nth-child(2) {
  color: #3d3d3d;
}

.tv .tv-tree li a.hovered + ol li a.only-child,
.tv .tv-tree li a:hover + ol li a.only-child {
  background: #ccc;
  color: white;
}

.tv .tv-tree li a.hovered + ol li.highlight a.only-child,
.tv .tv-tree li a:hover + ol li.highlight a.only-child {
  background: #9C8A73;
  color: white;
}

.tv .tv-tree li a.hovered + ol::before,
.tv .tv-tree li a.hovered + ol li::after,
.tv .tv-tree li a.hovered + ol li::before,
.tv .tv-tree li a.hovered + ol ol::before,
.tv .tv-tree li a:hover + ol::before,
.tv .tv-tree li a:hover + ol li::after,
.tv .tv-tree li a:hover + ol li::before,
.tv .tv-tree li a:hover + ol ol::before {
  border-color: #ddd;
}

.tv .tv-tree li a.only-child {
  color: #9C8A73;
  font-weight: bold;
}

.tv .tv-tree li a.only-child:hover span:first-child {
  color: #565656;
}

.tv .tv-tree li a.cs ~ .word em {
  cursor: help;
}

.tv .tv-tree li a.cs ~ .word em::before {
  margin-right: 0.36em;
  color: #222;
  content: "\f031";
}

.tv .tv-tree li a.ignored {
  opacity: 0.67;
  cursor: help;
}

.tv .tv-tree li a.ignored + ol::before {
  border-left: 1px dotted #ccc;
}

.tv .tv-tree li span {
  display: block;
  margin: 2px auto;
}

.tv .tv-tooltip {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 11;
  padding: 10px;
  border: 5px solid white;
  border-radius: 5px;
  background: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.tv .tv-tooltip > ul {
  padding: 0 8px;
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
}

.tv .tv-tooltip > ul li {
  white-space: nowrap;
}

.tv .tv-tooltip::after {
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -24px;
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: transparent transparent white white;
  box-shadow: -6px 6px 6px -2px rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.tv .tv-tooltip button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #DF5F5F;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.tv .tv-tooltip button:hover {
  background: #dc4e4e;
  -webkit-transform: translate(50%, -50%) scale(1.23);
  -ms-transform: translate(50%, -50%) scale(1.23);
  transform: translate(50%, -50%) scale(1.23);
}

.tv .tv-tooltip button:active {
  background: #d83d3d;
}

#tree-visualizer {
  position: relative;
}

#tree-visualizer .tv-content-wrapper {
  min-height: 240px;
}

#tree-visualizer .tv-content-wrapper .tv-tree {
  padding: 24px;
}

#tree-visualizer .tv-content-wrapper .tv-tooltip {
  z-index: 9;
}

#tree-visualizer .tv-show-fs {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  margin-left: auto;
}

#tree-visualizer-fs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  padding: 24px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

#tree-visualizer-fs .tv-navigation-wrapper {
  margin-right: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#tree-visualizer-fs .tv-navigation-wrapper button:first-child {
  margin-right: 8px;
}

#tree-visualizer-fs .tv-navigation-wrapper button,
#tree-visualizer-fs .tv-zoom-opts button {
  padding: 0;
  width: 36px;
  height: 36px;
}

#tree-visualizer-fs .tv-zoom-wrapper {
  z-index: 9;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

#tree-visualizer-fs .tv-zoom-wrapper a {
  margin-right: 24px;
  color: inherit;
}

#tree-visualizer-fs .tv-zoom-opts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#tree-visualizer-fs .tv-zoom-opts button {
  margin-right: 1px;
}

#tree-visualizer-fs .tv-zoom-opts button.tv-close-fs {
  margin-right: 0;
  margin-left: 12px;
  width: 34px;
  height: 34px;
  border: 2px solid #DF5F5F;
  border-radius: 50%;
  background: transparent;
  color: #DF5F5F;
  text-shadow: none;
  line-height: 1;
  box-shadow: none;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

#tree-visualizer-fs .tv-zoom-opts button.tv-close-fs:hover {
  background: #DF5F5F;
  color: white;
  -webkit-transform: scale(1.23);
  -ms-transform: scale(1.23);
  transform: scale(1.23);
}

#tree-visualizer-fs .tv-zoom-opts button.tv-close-fs:active {
  top: auto;
  border: 2px solid #d83d3d;
  background: #d83d3d;
}

#tree-visualizer-fs .tv-zoom-opts button.tv-zoom-out {
  border-radius: 4px 0 0 4px;
}

#tree-visualizer-fs .tv-zoom-opts button.tv-zoom-in {
  border-radius: 0 4px 4px 0;
}

#tree-visualizer-fs .tv-zoom-opts button.tv-zoom-default {
  padding: 0 8px;
  width: auto;
  border-radius: 0;
}

#tree-visualizer-fs .tv-sentence-wrapper {
  font-size: 16px;
}

#tree-visualizer-fs .tv-content-wrapper {
  font-size: 14px;
}

#tree-visualizer-fs .tv-tree.tv-small a {
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  will-change: transform;
}

#tree-visualizer-fs .tv-tree.tv-small a.hovered, #tree-visualizer-fs .tv-tree.tv-small a:hover {
  z-index: 3;
  border-color: transparent !important;
  background: #8e7f6b;
  color: #FFF !important;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

#tree-visualizer-fs .tv-tree.tv-small a.only-child {
  transition: margin-bottom 200ms, -webkit-transform 150ms;
  transition: transform 150ms, margin-bottom 200ms;
  transition: transform 150ms, margin-bottom 200ms, -webkit-transform 150ms;
}

#tree-visualizer-fs .tv-tree.tv-small a.only-child ~ span {
  transition: margin-top 200ms, -webkit-transform 150ms;
  transition: transform 150ms, margin-top 200ms;
  transition: transform 150ms, margin-top 200ms, -webkit-transform 150ms;
}

#tree-visualizer-fs .tv-tree.tv-small a.only-child.hovered, #tree-visualizer-fs .tv-tree.tv-small a.only-child:hover {
  margin-bottom: 2em;
}

#tree-visualizer-fs .tv-tree.tv-small a.only-child.hovered ~ span, #tree-visualizer-fs .tv-tree.tv-small a.only-child:hover ~ span {
  z-index: 3;
  margin-top: 1.5em;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

#tree-visualizer-fs .tv-tree.tv-x-small a.hovered, #tree-visualizer-fs .tv-tree.tv-x-small a:hover {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}

#tree-visualizer-fs .tv-tree.tv-x-small a.only-child.hovered, #tree-visualizer-fs .tv-tree.tv-x-small a.only-child:hover {
  margin-bottom: 5em;
}

#tree-visualizer-fs .tv-tree.tv-x-small a.only-child.hovered ~ span, #tree-visualizer-fs .tv-tree.tv-x-small a.only-child:hover ~ span {
  margin-top: 3em;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}

#tree-visualizer-fs .tv-loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  overflow: hidden;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: url("../../../img/logo-image-gretel.svg") no-repeat;
  background-position: center bottom;
  background-size: contain;
  -webkit-transform: translate(-50%, -67%);
  -ms-transform: translate(-50%, -67%);
  transform: translate(-50%, -67%);
}

#tree-visualizer-fs .tv-loading-wrapper p {
  position: absolute;
  top: 50%;
  width: 100%;
  background: #f7f7f7;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  -webkit-transform: translateY(-67%);
  -ms-transform: translateY(-67%);
  transform: translateY(-67%);
}

body.tv-fs-open {
  overflow-y: hidden;
}

body.tv-fs-open #tree-visualizer-fs {
  display: block;
}

body.tv-fs-open.tv-is-loading #tree-visualizer-fs .tv-loading-wrapper {
  display: block;
}

body.tv-fs-open.tv-is-loading #tree-visualizer-fs .tv-tree, body.tv-fs-open.tv-is-loading #tree-visualizer-fs .tv-tooltip {
  display: none;
}

body.tv-ns-open.tv-is-loading #tree-visualizer {
  pointer-events: none;
  opacity: 0.34;
}

body.tv-fail .tv .tv-content-wrapper {
  display: none;
}

body.tv-fail .tv .tv-error {
  display: inline-block;
}

body.tv-success .tv .tv-error {
  display: none;
}
