.warning {
    position: sticky;
    bottom: 0;
}

.is-loading {
    opacity: 0.5;

    /*! from bulma.io v0.6.0 | MIT License | github.com/jgthms/bulma */
    &:before {
        animation: spinAround 500ms infinite linear;
        border: 10px solid #96846c;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 10em;
        position: absolute;
        width: 10em;
        left: calc(50% - 5em);
        top: calc(50% - 5em);
        z-index: 1000;
    }
}
