<h2 class="subtitle">
    XPath Query
</h2>
<p-message *ngIf="this.warning" severity="error" text="Please make sure the xpath query is correct."></p-message>
<grt-xpath-editor width="100%" [value]="value" (onChange)="inputChanged($event)" autofocus="true"></grt-xpath-editor>
<div class="field">
    <label class="checkbox">
        <input type="checkbox" name="retrieveContext" [(ngModel)]="retrieveContext" (change)="emitRetrieveContextChanged()"> Include context in results
        <label grBalloonLength="large" grBalloonPosition="right" grBalloon="In the results, show the sentence before and after the matching sentence to provide a broader context">
            <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
        </label>
        
    </label>
</div>
<ng-container *ngIf="treeXml">
    <h2 class="subtitle">
        <div class="level">
            <div class="level-item level-left">
                Tree&nbsp;
                <label grBalloonLength="medium" grBalloonPosition="right" grBalloon="This is a visualization of the entered query.">
                    <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                </label>
                
            </div>
            <div class="level-item level-right is-hidden-print">
                <p class="control">
                    <a class="button" role="button" (click)="treeDisplay = 'both'" grBalloonPosition="left" grBalloon="Full screen display of the tree.">
                        <span class="icon is-large">
                            <i class="fas fa-expand"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </h2>
    <grt-tree-visualizer [xml]="treeXml" [display]="treeDisplay" [fullScreenButton]="false" (onDisplayChange)="treeDisplay = $event"></grt-tree-visualizer>
</ng-container>
