$primary: rgba(168, 205, 40, 1);

@import "~pivottable/dist/pivot.css";
@import "~bulma/bulma";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@media print {
    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .ui-table .ui-table-thead,
    .ui-table .ui-table-tbody,
    .ui-table .ui-table-tfoot {
        > tr > th,
        > tr > td {
            border: solid 1px $dark !important;
        }
    }
}
