<h2 class="subtitle" grtSubtitle>
    {{ title }}
</h2>

<form>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input type="text" class="input"
                   autocomplete="off"
                   placeholder="Start typing an expression, or a list of words" spellcheck="true" lang="nl"
                   name="filterString"
                   [(ngModel)]="filterString">
        </div>
    </div>
</form>

<div class="block">
    Showing {{ visible() }} out of {{ count() }} matching known expressions:
</div>


<table class="table is-fullwidth">
    <tr *ngFor="let sent of sentences"
        class="result"
        (click)="onSelect.emit(sent)">
        <td>{{sent.text}}</td>
    </tr>
    <tr *ngIf="filterString.length > 3" class="result">
        <td (click)="onSelect.emit({text: filterString})">Search for "{{ filterString }}"</td>
    </tr>
</table>

<a (click)="showMore()">Show more...</a>
