
<div class="query" *ngFor="let query of queryset.queries; let idx = index">
  <h4>Query {{ idx + 1 }}: {{ query.description }}</h4>
  <div>
    <grt-xpath-editor
        [value]="query.xpath">
    </grt-xpath-editor>
  </div>
  <div *ngFor="let query of queryset.queries; let j = index">
    <div *ngIf="idx > j">
      <label><input type="checkbox" [(ngModel)]="exclude[j]"> exclude query {{ j + 1 }} matches</label>
    </div>
  </div>
  <button class="button" (click)="sendQuery(idx)">Search</button>
</div>
