<div class="is-scrollable">
  <p-table [columns]="columns" [value]="data">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
      <tr>
        <td *ngFor="let col of columns">
          <div *ngIf="col.field == 'number'; else field">{{i}}</div>
          <ng-template #field  ><div [innerHTML]="rowData[col.field]"></div></ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
